.extra{
    font-family: 'Raleway', 'Arial', sans-serif;
    background: white;
    padding: 4rem;
    width: 70%;
    h1 {
        color: black;
        font-family: 'Raleway', 'Arial', sans-serif;

    }

    h3 {
        color: black;
        font-family: 'Raleway', 'Arial', sans-serif;

    }

}

.extra-bg{
    background: rgb(235, 38, 19);
}