.home-page-intro-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgba(255, 140, 140, 0.479); 
    clip-path: polygon(0 4%, 100% .7%, 100% 100%, 0 99.3%);
}

.home-page-intro-outer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(255, 83, 68); 
    clip-path: polygon(0 8%, 100% 1.4%, 100% 96%, 0 98.6%);
}

.home-page-intro-bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(235, 38, 19);
    clip-path: polygon(0 12%, 100% 2.1%, 100% 92%, 0 97.9%);
}

.home-page-intro {
    width: 100%;
    clip-path: polygon(0 16%, 100% 2.8%, 100% 88%, 0 97.2%);
    background: #2c2c2c;
    padding: 4.5rem 2rem;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 120%;
    line-height: 2rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@media only screen and (max-width: 600px){
    .home-page-intro {
        padding: 3.5rem 3.5rem;
    }
}

.home-bg{
    background: #2c2c2c;
}

.home-text {
    color: #ffffff;
    font-family: 'Raleway', 'Arial', sans-serif;

}
