.ams-box{
  width: 70%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

.ams-center-text{
  display: flex;
  font-family: 'Raleway', 'Arial', sans-serif;
  height: 100%;
  line-height: .6rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}