
.slot-page_list{
    padding-top: 5em;
    padding-bottom: 5em;
}
.slot-playbutton{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.dimmer-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }