.slot-card-shadow-animation{
  margin: 1rem 1rem 1rem 1rem;
  transition: all ease 2s;
  box-shadow: 10px 10px 33px -8px #505050;
}

.slot-card-shadow-animation:hover{
  box-shadow: 10px 10px 33px -8px rgb(243, 109, 109);
}